/*===== Common Class =====*/

 :root {
	--clr-white: rgb(255, 255, 255);
	--clr-black: rgb(0, 0, 0);
	--clr-light: rgb(245, 248, 255);
	--clr-light-gray: rgb(196, 195, 196);
	--clr-blue: rgb(63, 134, 255);
	--clr-light-blue: rgb(171, 202, 255);
}

html {
	position: relative;
	min-height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #000;
	background: #fff;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

li,
ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a,
a img {
	text-decoration: none;
	border: 0;
	outline: none !important;
}

a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.clear:before,
.clear:after {
	display: table;
	content: "";
}

.clear:after {
	clear: both;
}

input,
textarea {
	outline: none !important;
}

#wrapper {
	width: 100%;
}

input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}


/***** Select Dropdown Start *****/

.bootstrap-select {
	width: 100% !important;
}

.bootstrap-select .dropdown-menu {
	margin: 0;
}

.bootstrap-select .dropdown-toggle {
	width: 100%;
	background: #ffefd7;
	height: 36px;
	border-radius: 5px;
	border: none;
	font-size: 12px;
}

.bootstrap-select.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
	outline-offset: 0;
}

.bootstrap-select .btn:active,
.bootstrap-select .btn.active {
	box-shadow: none;
	background: #ffefd7;
}

.bootstrap-select .btn.active:hover {
	box-shadow: none !important;
	background: #ffefd7 !important;
}

.bootstrap-select .btn-default:active:hover,
.bootstrap-select .btn-default.active:hover,
.bootstrap-select .open>.dropdown-toggle.btn-default:hover,
.bootstrap-select .btn-default:active:focus,
.bootstrap-select .btn-default.active:focus,
.open>.bootstrap-select .dropdown-toggle.btn-default:focus,
.bootstrap-select .btn-default.focus:active,
.bootstrap-select .btn-default.active.focus,
.bootstrap-select .open>.dropdown-toggle.btn-default.focus {
	background: #ffefd7;
	border: none;
	color: #000;
}

.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default.active,
.bootstrap-select.open>.dropdown-toggle.btn-default {
	background: #ffefd7;
	border: none;
	color: #000;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 28px;
	background: url(../images/up-down.svg) no-repeat center;
	margin: 0;
	padding: 0;
	height: auto;
	border: none;
}


/***** Select Dropdown End *****/


/*============ Default Css End ============*/


/*============ Bootstrap Class Overwriter CSS Code Start ============*/

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 1360px) {
	.container {
		width: 1340px;
		max-width: 100%;
	}
}

.navbar-collapse {
	float: right;
}

.center-block {
	float: none;
}


/*.navbar-expand-lg .navbar-toggler { display:none; }*/


/* navbar start */

.navbar-nav {
	margin-top: 11px;
	text-align: unset;
	display: inline-block;
	vertical-align: top;
	float: right;
}

.navbar-inverse {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	min-height: 10px;
}

.navbar-nav li {
	margin: 0px 25px;
	padding: 0;
	float: left;
}

.navbar-nav li:last-child {
	margin-right: 0;
}

.navbar-nav li a {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #0A033C;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	padding: 0px;
}

.navbar-inverse .navbar-nav li a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li:hover {}

.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:focus {
	color: #e21f25;
	background: none;
}

.navbar-inverse .navbar-nav .current-menu-item a,
.navbar-inverse .navbar-nav .current-menu-item a:hover,
.navbar-inverse .navbar-nav .current-menu-item a:focus {
	background: none;
}

.navbar-inverse .navbar-nav .open a,
.navbar-inverse .navbar-nav .open a:hover,
.navbar-inverse .navbar-nav .open a:focus {
	color: #e21f25;
	background: none;
}

.navbar-inverse .navbar-toggle {
	background: #e21f25;
	border: none;
	border-radius: 0px;
}

.navbar-inverse .navbar-toggle:hover {
	background: #e21f25;
}

.navbar-inverse .navbar-toggle:focus {
	background: #e21f25;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background: none;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #e21f25;
}

li.nav-item.btn a {
	background: #FC6200;
	border-radius: 10px;
	display: inline-block;
	min-width: 170px;
	line-height: 51px;
	color: #fff;
	transition: all 0.5s ease;
}

li.nav-item.btn a:hover {
	transition: all 0.5s ease;
	background: #0A033C;
}

ul.navbar-nav.ml-auto {
	align-items: center;
	display: flex;
}


/*=========================================*/


/* Main Header */


/*=========================================*/

#header {
	width: 100%;
}

.header_wapper {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	background: transparent;
	text-align: center;
	padding: 18px 0;
	z-index: 100;
}

.logo {
	float: left;
	padding: 0;
	max-width: 369px;
}

.logo a {
	display: block;
}

.logo a img {
	max-width: 100%;
}

.file-upload-wrapper {
	position: relative;
	width: 100%;
	height: 60px;
}

.file-upload-wrapper input {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	height: 40px;
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}

.file-upload-wrapper:before {
	content: "Upload";
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	height: 58px;
	background: #fc6200;
	color: #fff;
	font-weight: 700;
	z-index: 25;
	font-size: 16px;
	line-height: 60px;
	padding: 0 15px;
	text-transform: uppercase;
	pointer-events: none;
	border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	padding: 10px 15px;
	display: block;
	width: calc(100% - 40px);
	pointer-events: none;
	z-index: 20;
	height: 40px;
	line-height: 40px;
	border-radius: 5px 10px 10px 5px;
	font-size: 18px;
	font-weight: 500;
	color: #0A033C;
}


/*=========================================*/


/* Main Banner Start */


/*=========================================*/

.banner_wapper {
	width: 100%;
	position: relative;
	z-index: 2;
}

.home-banner {
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 10;
}


/*=========================================*/


/* Main Banner End */


/*=========================================*/


/*=========================================*/


/* Main Content Start */


/*=========================================*/


/* homepage start */


/* homepage End */


/* All Page Background Images Start */

.login-bg {
	background-image: url(../images/loginbg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 485px 0 425px;
	background-color: #f7f9fb;
}
.inner-banner.banner-images{
	background: unset;
	margin: 0 0 150px 0;
}
.inner-banner.banner-images:after{
	display: none;
}

/* All Page Background Images End */


/****************************/


/* Inner page start */


/* Login Page Design Start */

.login-bg form {
	max-width: 700px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
	background: #fff;
	padding: 65px 70px 63px;
}

.contain_wapper form .title h2 {
	font-weight: 700;
	text-align: center;
	color: #0A033C;
	font-size: 70px;
	padding: 0 0 60px 0;
	line-height: 70px;
}

form .form-group input,
form .form-group select {
	border: 1px solid #803487;
	line-height: 52px;
	font-size: 18px;
	font-weight: 500;
	color: #0A033C;
	padding: 0 25px;
}

.form-group .file-upload-wrapper {
	border: 1px solid #803487;
	border-radius: 6px;
}

form select.form-control:not([size]):not([multiple]) {
	height: 54px;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #0A033C !important;
	opacity: 1 !important;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #0A033C !important;
	opacity: 1 !important;
}

 ::placeholder {
	color: #0A033C !important;
	opacity: 1 !important;
}

form .form-group label.form-check-label {
	font-size: 18px;
	font-weight: 500;
	color: #0A033C;
}

form .form-row .form-group.col-md-6:last-child {
	text-align: right;
}

button.btn.btn-primary {
	background: #FC6200;
	border: 1px solid rgb(128 52 135/.5);
	border-radius: 4px;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	line-height: 41px;
	box-shadow: 0px 0px 20px -4px #fc6200;
}

.login-bg form button.btn.btn-primary {
	margin: 40px 0 0 0;
}

button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
	background: #803487 !important;
	border: 1px solid #FC6200 !important;
	box-shadow: none !important;
}

.singup-opction button.btn {
	display: flex;
	width: 100%;
	margin-bottom: 25px;
	line-height: 41px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.singup-opction button.btn i {
	border-radius: 100px;
	overflow: hidden;
	display: inline-block;
	font-size: 20px;
	margin-right: 5px;
}

.singup-opction button.btn:last-child {
	margin-bottom: 0px;
}

button.btn.google-btn {
	background: #4285F4;
}

button.btn.fb-btn {
	background: #4267B2;
}

button.btn.linkedin-btn {
	background: #0077B5;
}

.divider {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 430px;
	width: 100%;
	margin: 55px auto 24px;
}

.divider span {
	background: #FC6200;
	height: 1px;
	width: 100%;
}

.divider label {
	margin: 0;
	padding: 0 8px;
	font-weight: 500;
	font-size: 18px;
}

.signup-link span {
	display: block;
	text-align: center;
	padding: 30px 0 0 0;
	color: #0A033C;
	font-size: 18px;
	font-weight: 500;
}

.orange-text {
	color: #fc6200 !important;
}
.f-40{
	font-size: 40px !important;
}
body .mb-20{
	margin-bottom: 20px !important;
}
strong.bold {
    font-weight: 600 !important;
}
button.small-btn {
    width: unset !important;
    min-width: 180px;
    line-height: 30px !important;
    margin: 0 15px;
    border-radius: 10px !important;
}
.button-section {
    text-align: center;
    padding: 30px 0 0 0;
}


/* Login Page Design End */

.digit-group input {
	width: 80px;
	height: 40px;
	background-color: #ffffff;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	font-weight: 200;
	color: #0a033c;
	margin: 0 2px;
	border: 1px solid #0a033c;
}

.digit-group .splitter {
	padding: 0 5px;
	color: white;
	font-size: 24px;
}

.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.title.text-left h2 {
	font-size: 30px !important;
	text-align: left !important;
	line-height: 35px !important;
	padding: 0 0 19px 0 !important;
}

.signup-link.text-left span {
	text-align: left;
	padding: 17px 0 30px 3px;
}

.pb-90 {
	padding-bottom: 200px !important;
}

.pt-90 {
	padding-top: 300px !important;
}


/* Inner page End */


/****************************/

/* Inner Banner Css Start */

.inner-banner {
    background: #803487;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 370px;
    margin: 0 0 190px 0;
}
.inner-banner:after{
	content: '';
	background-image: url(../images/Path548.png);
	left: 0;
    right: 0;
    bottom: -150px;
    width: 100%;
    height: 150px;
    position: absolute;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

/*=========================================*/

/* Profile list*/
.user-profile{
	padding-bottom: 100px;
}
.user-profile .user-header{
	text-align: center;
	display: block;
    max-width: 220px;
    margin: 0 auto;
    position: relative;
}
.user-profile .user-header i {
    position: absolute;
    right: 8px;
    top: 5px;
    background: #fff;
    width: 25px;
    height: 25px;
    border: 2px solid #803487;
    border-top: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-profile .user-header img{
	max-width: 220px; 
}
.user-profile .user-title{
    border-bottom: 2px solid #FC6200;
    margin-bottom: 75px;
}
.user-profile .user-title span{
	font-size: 30px;
    line-height: 70px;
    font-weight: 600;
    color: #0A033C;
}
.user-datalist ul {
    display: flex;
    flex-wrap: wrap;
}
.user-datalist ul li {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: baseline;
}
.user-datalist ul li strong {
    color: #803487;
    font-weight: 700;
    font-size: 30px;
    min-width: 296px;
    display: inline-block;
    line-height: normal;
    max-width: 296px;
}
.user-datalist ul li span {
    color: #803487;
    font-size: 30px;
    font-weight: normal;
    line-height: 70px;
}
.btn.default a {
    background: #FC6200;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 81px;
    border-radius: 20px;
}
.btn.default {
    padding: 60px 0 0 0;
    width: 100%;
}
/* Main Content End */
.edit-profile .user-datalist ul li:last-child {
    flex: 0 0 100%;
    max-width: 100%;
}

.edit-profile .user-datalist ul li {
    flex-direction: column;
}

.edit-profile .user-datalist ul li span {
    line-height: normal;
}

.edit-profile .user-datalist ul li input[type="text"] , 
.edit-profile .user-datalist ul li select {
    border: 1px solid #803487;
    border-radius: 5px;
    line-height: 50px;
    width: 100%;
    display: inline-block;
    height: 50px;
    padding: 0 10px;
}
.edit-profile .user-datalist ul li textarea{
border: 1px solid #803487;
    border-radius: 5px;
    line-height: normal;
    width: 100%;
    height: 150px	
}

.edit-profile .user-datalist ul li {
    padding: 0 15px 10px;
}

/*=========================================*/

/* Book Box Css Start */
.booing-courses h2 {
    color: #FC6200;
    font-weight: 600;
    font-size: 40px;
    margin: 50px 0 50px 0;
}
.booing-header {
    padding: 0 0 70px 0;
}
.booking-section {
    padding: 0 0 70px 0;
}
.booing-header h2 {
    color: #0A033C;
    font-size: 40px;
    font-weight: 700;
}
.book-box {
    box-shadow: 0px 3px 20px rgb(0 0 0/ 16%);
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 30px;
}
.book-box .book-img {position: relative;margin: 0 0 25px 0;}

.book-box .book-img img.img-fluid {
    width: 100%;
}

.book-box .book-img span.book-label {
    position: absolute;
    top: 0;
    right: 0;
    background: #803487;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 35px;
    min-width: 140px;
    text-align: center;
    border-radius: 0px 15px 0px 15px;
}

.book-description h4 {
    color: #0A033C;
    font-size: 20px;
    line-height: normal;
    margin: 0 0 3px 0;
}

.book-description label {
    color: #0A033C;
    opacity: 0.5;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.book-description .rating em {
    color: #FC6200;
    font-size: 18px;
    font-style: inherit;
    font-weight: 500;
    margin: 0 6px 0 0;
}

.book-description .rating i {
    color: #FC6200;
}

.book-description ul {
    padding: 20px 0 35px 0;
}

.book-description ul li {
    font-size: 18px;
    font-weight: 500;
    color: #85819e;
    padding: 0 0 7px 0;
    display: block;
    max-width: 100%;
    flex: 0 0 100%;
}

.book-description ul li strong {
    color: #0A033C;
    font-size: 18px;
    font-weight: 500;
    width: unset;
    min-width: unset;
}

.color-green {
    color: green !important;
}

button.btn.btn-orange {
    background: #FF3C3C;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    border-radius: 15px;
    transition: all 0.5s ease;
    border: 1px solid #FF3C3C;
}

button.btn.btn-orange:hover {
    background: transparent;
    color: #FF3C3C;
}

button.btn.btn-dark-orange {
    background: #FC6200;
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 39px;
    border-radius: 15px;
    transition: all 0.5s ease;
    border: 1px solid #FC6200;
}

button.btn.btn-dark-orange:hover {
    background: transparent;
    color: #FC6200;
}
/* Book Box Css End */


/* Teacher Profile Page Design Start */
.user-datalist ul li.full-width {
    flex: 0 0 100%;
    max-width: 100%;
}

.sub-title h2 {
    color: #FC6200;
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0 25px 0px;
}
/* Teacher Profile Page Design End */
table.table.table-striped {
    box-shadow: 0px 0px 24px 0px rgb(128 52 135 / 25%);
    border-radius: 15px;
    overflow: hidden;
}
.table-responsive {
    padding: 20px;
    margin: -20px;
}

table.table.table-striped tr {
    text-align: center;
}

table.table.table-striped tr td {
    color: #0A033C;
}

table.table.table-striped tr th {
    color: #0A033C;
}
/*=========================================*/
.book-description ul li span {
    display: inline-flex;
    align-items: unset;
    position: relative;
    top: 5px;
}

.book-description ul li span box-icon {
    color: #fc6200;
    margin: 0 5px 0 0;
    fill: #fc6200;
}

.review-title {
    margin: 0 0 40px 0;
}

.review-title h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FC6200;
    border-bottom: 1px solid #803487;
    padding-bottom: 20px;
}
.review-form ul {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.review-form ul box-icon {
    fill: #fc6200;
    margin: 0 4px 0 0;
}

.review-form textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    border: 1px solid #803487;
    font-weight: 700;
}

.review-form .input-row {
    margin: 0 0 30px 0;
}
.review-section{
	padding: 30px 0 0 0;
}

.batch-section {
    padding: 20px 0 0 0;
}

.batch-section ul li {
    display: flex;
    align-items: center;
    padding-bottom: 15px;   
}

.batch-section ul li button {
    margin: 0 0 0 auto;
}

.batch-section ul li span , .batch-section ul li strong {
    font-weight: 600;
    flex: 0 0 30%;
    color: #0A033C;
    font-size: 18px;
}

.batch-section .batch-title h3 {
    font-size: 18px;
    font-weight: 600;
    color: #0A033C;
    margin: 0 0 10px 0;
}

/* Footer main Start */


/*=========================================*/

.footer {
	position: relative;
	background: #803487;
	padding: 100px 0;
}

.f-logo {
	display: flex;
	flex-direction: column;
	padding: 0 0 50px 0;
}

.f-logo span {
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	line-height: 38px;
	padding: 0 10px 0 0;
}

.f-logo img.img-fluid {
	filter: brightness(0) invert(1);
	display: block;
	text-align: left;
	max-width: 410px;
	margin: 0 0 10px 0;
}

.footer form .input-row {
	position: relative;
}

.footer form .input-row input[type="text"] {
	border-radius: 20px;
	border: none;
	line-height: 78px;
	width: 100%;
	padding: 0 200px 0 20px;
}

.footer form .input-row a {
	background: #FC6200;
	color: #fff;
	line-height: 58px;
	display: inline-block;
	border-radius: 10px;
	position: absolute;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 20px 0 20px;
	font-size: 21px;
	font-weight: 600;
}

.footer .social-icon {
	padding: 70px 0 0 0;
}

.footer .social-icon ul {
	display: flex;
	align-items: center;
}

.footer .social-icon ul li {
	margin: 0 30px 0 0;
}

.footer .social-icon ul a {
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	font-size: 30px;
	color: #803487;
	border-radius: 100px;
}

.footer .f-title {
	font-size: 30px;
	font-weight: 800;
	color: #fff;
	padding: 0 0 35px 0;
}

.footer .row.no-gutters {
	padding: 0 0 0 20px;
}

.footer .row.no-gutters ul li {
	padding: 0 0 15px 0;
}

.footer .row.no-gutters ul a {
	color: #fff;
	font-weight: 400;
	font-size: 30px;
}

.footer .row.no-gutters span.rights {
	font-size: 20px;
	color: #fff;
	padding: 60px 0 0 0;
	display: inline-block;
}


/*=========================================*/


/* Footer main End */


/*=========================================*/